<h1>Restaurant Locations</h1>

<img src="http://maps.googleapis.com/maps/api/staticmap?center=-15.800513,-47.91378&zoom=11&size=600x400">

<p>
</p>

<p><%= link_to '<span class="glyphicon glyphicon-backward"> Back </span>'.html_safe, restaurants_path, 
      class: "btn btn-default btn-md"%>
</p>