<h1>Restaurant Locations</h1>


<img src="http://maps.google.com/maps/api/staticmap?center=41.950777,-87.663852&zoom=11&size=600x400&maptype=roadmap
&markers=color:blue|label:R|41.950777,-87.663852&markers=color:green|label:R|41.884109,-87.647976&markers=color:red|color:red|label:R|41.891941,-87.629214&sensor=false">


<p>
</p>

<p><%= link_to '<span class="glyphicon glyphicon-backward"> Back </span>'.html_safe, restaurants_path, 
      class: "btn btn-default btn-md"%>
</p>
